/* css stylesheet */

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    margin: 0;
}

.header{
    background-color: #1F2937;
    height: 35vh;
}

.headerNav {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
}

.headerLogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.headerMenu{
    margin-left: auto;
    align-items: center;
}

.headerMenu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.headerMenu ul a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headerContent{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-evenly;
}

.headerContentLeft{
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}

.headerContentLeftTitle{
    font-size: 48px;
    line-height: 40px;
    color: #f9faf8;
    font-weight: 900;
    width: 20vw;
} 

.headerContentLeftText{
    font-size: 18px;
    color: #E5E7EB;
    width: 25vw;
}

.headerContentLeftButton{
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #3882F6;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 4px 30px;
    font-size: 16px;
    border-radius: .25rem;
}

.headerContentRight{   
    display: flex;
    justify-content: end;
    flex: 0 0 50%;
}

.placeholder{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color:#E5E7EB;
}

.randomInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
}

.randomInfoTitle{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.randomInfoImage{
    display: flex;
    justify-content:center;
    width: 45vw;
    flex: 0 0 0;
}

.imgContainer1,
.imgContainer2,
.imgContainer3,
.imgContainer4{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.img1,
.img2,
.img3,
.img4{
    height: 14vh;
    width: 7vw;
    border: 2px solid blue;
    border-radius: 10px;
}

.quoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 30vh;
}

.quote{
    width: 45vw;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quoteAuthor{
    display: flex;
    justify-content: end;
    width: 40vw;
    color: #1f2937;
    font-weight: bold;
    font-size: 20px;
}

.callToActionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.callToActionCard{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 13vh;
    background-color: #3882F6;
    border-radius: 10px;
}

.callToActionLeft{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    color:#E5E7EB;
    display: flex;
    width: 33vw;
}

.callToActionLeftHeader{
    display: flex;
    justify-content: flex-start;
    font-weight: bold; 
    font-size: large;   
}

.callToActionButton{
    cursor: pointer;
    outline: 0;
    color: #E5E7EB;
    background-color: transparent;
    border-color: #E5E7EB;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 2px solid;
    padding: 4px 30px;
    font-size: 16px;
    border-radius: .50rem;
    margin-right: 5vw;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 7vh;
    color: #E5E7EB;

}





